.chart-wrapper {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  height: 250px;
  min-height: 250px;
  max-height: 250px;
  color:aquamarine;
  border-radius: 10px;
  /* background-image: linear-gradient(to bottom right, $bondi-dark, $bondi-light); */
  background-attachment: fixed;
}