USE [master]
GO
/****** Object:  Database [CoronaDB]    Script Date: 10/05/2023 21:58:27 ******/
CREATE DATABASE [CoronaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoronaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CoronaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoronaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CoronaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoronaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoronaDB]
GO
USE [CoronaDB]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 10/05/2023 21:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patientTz] [nvarchar](50) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[street] [nvarchar](50) NOT NULL,
	[houseNumber] [int] NOT NULL,
	[birthDate] [datetime] NOT NULL,
	[phoneNumber] [nvarchar](50) NULL,
	[cellphoneNumber] [nvarchar](50) NOT NULL,
	[positiveResultDate] [datetime] NULL,
	[recoveryDate] [datetime] NULL,
	[firstVaccineDate] [datetime] NULL,
	[firstVaccineManufacturer] [nvarchar](50) NULL,
	[secondVaccineDate] [datetime] NULL,
	[secondVaccineManufacturer] [nvarchar](50) NULL,
	[thirdVaccineDate] [datetime] NULL,
	[thirdVaccineManufacturer] [nvarchar](50) NULL,
	[fourthVaccineDate] [datetime] NULL,
	[fourthVaccineManufacturer] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pateints] PRIMARY KEY CLUSTERED 
(
	[patientTz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
